{
  "PORT": 8888,
  "URL": "localhost:8888",
  "API": "/api/v1",
  "FULL_URL": "http://localhost:8888/api/v1",

  "DATABASE_INFO": {
    "user": "",
    "password": "",
    "host": "",
    "database": ""
  }
}